* {
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: aliceblue;
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



body {
    display: flex;
    height: 100vh;
}

.add-project-btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: fit-content;
}

.plus-img
{
    height: 1rem;

}


/********* DIALOG START ***********/

dialog img {
    height: 2rem;
}

.heading_div {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

    
}

.heading_div img {
    margin-left: auto;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 20px;
    gap: 15px;

}

#project-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit-btn {
    width: 50%;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}


/********* DIALOG START ***********/


/********* CONTENT START **********/
.content {
    background-color: white;
    width: 100%;
    padding: 15px;
}

.content-heading-div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#todo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#todo-form div {
    display: flex;
    gap: 10px;
}

input,
textarea {
    padding: 5px;
}

